# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache

# OS
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode
*.sublime-project
*.sublime-workspace

# npm
npm-debug.log
yarn-error.log

# Logs
*.log

# Misc
*.sqlite